td, th {
    padding: 1px;
}

.diff-content {
    padding: 5px;
}
/* #diff-wrapper {
    min-width: 70%;
    position: relative;
    overflow: hidden;
} */

.directory, 
.file, 
.dir-name, 
.file-name {
    white-space: nowrap;
}

/* .clipboard-group{
    width: 300px;
    display: inline-block;
    vertical-align: middle;
} */

/* #clip-txt{
    width: 261px;
} */


