<footer class="flex space-x-4 items-center justify-between p-4 bg-slate-200 border-t border-gray-500">
  <p class="text-sm">Created by <a  class="underline font-semibold"href="https://paulobu.com" target="_blank">Paulo Bu</a></p>

  <div class="flex">
    <iframe title="Diffy github stars count"
      src="https://ghbtns.com/github-btn.html?user=pbu88&repo=diffy&type=star&count=true&&v=2" frameborder="0"
      scrolling="0" width="100px" height="20px">
    </iframe>
    <iframe title="Diffy github fork count"
      src="https://ghbtns.com/github-btn.html?user=pbu88&repo=diffy&type=fork&count=true&&v=2" frameborder="0"
      scrolling="0" width="100px" height="20px">
    </iframe>
  </div>
</footer>