<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/"><img src="/assets/img/diffy-logo.gif" height="25"></a>
        </div>
        <div *ngIf="sharedDiff" class="pull-right">
            <div class="input-group clipboard-group navbar-btn">
                 <input id="clip-txt" type="text" class="form-control" readonly="readonly" aria-label="Diff URL">
                 <span class="input-group-btn">
                    <button aria-label="Copy to clipboard" data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard" class="btn btn-default" type="button">
                         <i class="fa fa-clipboard"></i>
                     </button>
                 </span>
            </div>
            <a href="/diff/shared/download" data-toggle="tooltip" data-placement="bottom" class="btn btn-success navbar-btn" title="You can apply it to your sources by doing: git apply <patch>">Download Patch</a>
            <a href="/delete/id" data-toggle="tooltip" data-placement="bottom" class="btn btn-danger navbar-btn" title="Make it disappear for good :)">Delete Forever!</a>
        </div>
    </div>
</nav>
<div *ngIf="sharedDiff else noDiff">
    <div style="text-align:center;">
        <p id="ttl">
        <strong>Note: </strong>This diff will self destruct in: <code class="hours"></code> hour(s), <code class="minutes"></code> minute(s) and <code class="seconds"></code> second(s)
        </p>
    </div>

    <div class="diff-content">
        <div id="files-wrapper" class="files-wrapper">
            <div class="navigation-tree">
                <div class="number-of-files d2h-file-header">
                    <div class="d2h-file-name">
                        Number of files included: <span class="file-count">length</span>
                    </div>
                </div>
                    <div class="tree-root" [innerHtml]="renderFileTree() | keepHtml">
                    </div>
            </div>
        </div>
        <div id="diff-wrapper" [innerHtml]="renderDiff() | keepHtml">
        </div>
    </div>
</div>
<ng-template #noDiff>
    <div class="missing-diff">
        <div *ngIf="loading else notFound"> Loading ... </div>
        <ng-template #notFound><div> ¯\_(ツ)_/¯ 404 Not found ... </div></ng-template>
        <div>
            <a routerLink="/">Go back</a>
        </div>
    </div>
</ng-template>
