.files-wrapper {
    width:29.5%;
    float:left;
}
.navigation-tree {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 15px;
}

.navigation-tree ul {
    list-style: none;
    padding: 0;
}

.tree-root {
    padding: 5px;
    overflow-x:auto;
}

.tree-wrapper {
    padding: 15px 5px;
}

.tree .file {
    white-space: nowrap;
    margin-left: 5px;
}

.tree .file i {
    margin-right: 5px;
}

.tree .tree {
    padding-left:10px;
}

.tree .files {
    padding-left:10px;
}
