{% extends "base.html" %}
{% block title %}
<title>Diffy</title>
{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/vendor/diff2html/diff2html.css">
<link rel="stylesheet" href="/static/diff.css">
<link rel="stylesheet" href="/static/fileTree.css">

<!-- Stylesheet -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/github.min.css">

<style>
span.hljs {
    display: inherit;
    overflow-x: inherit;
    padding: inherit;
    color: #333;
    background: inherit;
}
</style>

{% endblock %}


{% block content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/static/img/diffy-logo.gif" height="25"></a>
        </div>
        <div class="pull-right">
            <div class="input-group clipboard-group navbar-btn">
                 <input id="clip-txt" type="text" class="form-control" readonly="readonly" aria-label="Diff URL">
                 <span class="input-group-btn">
                    <button aria-label="Copy to clipboard" data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard" class="btn btn-default" type="button">
                         <i class="fa fa-clipboard"></i>
                     </button>
                 </span>
            </div>         
            <a href="/diff/{{id}}/download" data-toggle="tooltip" data-placement="bottom" class="btn btn-success navbar-btn" title="You can apply it to your sources by doing: git apply <patch>">Download Patch</a>
            <a href="/delete/{{id}}" data-toggle="tooltip" data-placement="bottom" class="btn btn-danger navbar-btn" title="Make it disappear for good :)">Delete Forever!</a>
        </div>
    </div>
</nav>
<div style="text-align:center;">
    <p id="ttl" data-enddate="{{dbObj.expiresAt}}">
    <strong>Note: </strong>This diff will self destruct in: <code class="hours"></code> hour(s), <code class="minutes"></code> minute(s) and <code class="seconds"></code> second(s)</code>
    </p>
</div>

<div class="diff-content">
    <div id="files-wrapper" class="files-wrapper">
        <div class="navigation-tree">
            <div class="number-of-files d2h-file-header">
                <div class="d2h-file-name">
                    Number of files included: <span class="file-count">{{files.length}}</span>
                </div>
            </div>
            <!--<div class="tree-wrapper">
                <ul class="tree">
                    {% for f in files %}
                    <li class="frx-list-item" id="folder-list-item1">
                        <a href="javascript:void(0);" title="{{utils.getFileName(f)}}" class="file" data-position="{{loop.index0}}">
                            <i class="fa fa-file-code-o"></i>{{utils.getFileName(f)}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                </div> -->
                <div class="tree-root">
                    {{fileTreeHtml|safe}}
                </div>
        </div>
        </ul>
    </div>
    <div id="diff-wrapper">
        {{diff | safe}}
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script src="/static/clipboard.js"></script>
<!-- Javascripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/scala.min.js"></script>
<script type="text/javascript" src="/static/vendor/diff2html/diff2html-ui.js"></script>
<script>
$(document).ready(function() {
    $('.d2h-file-wrapper').each(function(i, wrapper) {
        var $wrapper = $(wrapper);
        var lang = $wrapper.data('lang');
        $wrapper.find('.d2h-code-line-ctn').each(function(i, line) {
            var $line = $(line);
            $line.addClass(lang);
            hljs.highlightBlock(line);
    });
  });
});
</script>
{% endblock %}
