{% extends "base.html" %}
{% block title %}
<title>Diffy</title>
{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/diff2html/diff.css">
<link rel="stylesheet" href="/static/diff.css">
<style>

.diff-content * {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}
.diff-content *:before,
.diff-content *:after {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}

</style>
{% endblock %}


{% block content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/static/img/diffy-logo.gif" height="25"></a>
        </div>
        <div class="pull-right">
            <a href="/diff/{{id}}/download" class="btn btn-success navbar-btn" title="You can apply it to your sources by doing: git apply <patch>">Download Patch</a>
            <a href="/delete/{{id}}" class="btn btn-danger navbar-btn" title="Make it disappear for good :)">Delete Forever!</a>
        </div>
    </div>
</nav>
<div style="text-align:center;">
    <p id="ttl" data-enddate="{{dbObj.expiresAt}}">
    <strong>Note: </strong>This diff will self destruct in: <code class="hours"></code> hour(s), <code class="minutes"></code> minute(s) and <code class="seconds"></code> second(s)</code>
    </p>
</div>

<div class="diff-content">
    <div class="files-wrapper">
        <div class="navigation-tree">
            <div class="number-of-files d2h-file-header">
                <div class="d2h-file-name">
                    Number of files included: <span class="file-count">{{files.length}}</span>
                </div>
            </div>
            <!--<div class="tree-wrapper">
                <ul class="tree">
                    {% for f in files %}
                    <li class="frx-list-item" id="folder-list-item1">
                        <a href="javascript:void(0);" title="{{utils.getFileName(f)}}" class="file" data-position="{{loop.index0}}">
                            <i class="fa fa-file-code-o"></i>{{utils.getFileName(f)}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                </div> -->
                <div class="tree-root">
                    {{fileTreeHtml|safe}}
                </div>
        </div>
        </ul>
    </div>
    <div id="diff-wrapper" style="width:70%;margin-left:30%">
        {{diff | safe}}
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script src="/static/diff.js"></script>
{% endblock %}
