<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>

        <title>Diffy</title>
        <link rel="stylesheet" href="/static/diff2html/diff.css">
        <link rel="stylesheet" href="/static/diff.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    </head>

    <body>
        <div>
            <div class="files-wrapper" style="width:28%;float:left;">
                <div class="navigation-tree">
                    <ul id="frx-overview" class="activeFrx">
                        <li>
                            <span class="number-of-files">
                                Number of files included: <span class="file-count">{{files.length}}</span>
                            </span>
                        </li>
                    </ul>
                    <ul class="tree">
                        {% for f in files %}
                        <li class="frx-list-item" id="folder-list-item1">
                            <span class="file"><i class="fa fa-file-code-o"></i>{{utils.getFileName(f)}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                </ul>
            </div>
            <div id="diff-wrapper" style="width:70%;margin-left:30%">
                {{diff | safe}}
            </div>
        </div>

    </body>
</html>
