{% extends "base.html" %}
{% block content %}
<div class="container">
    <div style="text-align:center;">
        <h1>Diffy - A tool for sharing diffs</h1>
        <h2 style="font-weight:300;">Share your diffs and explain your ideas without committing</h2>
        <form action="/new" method="post">
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg" style="padding: 15px 60px;font-size:20px;margin:20px 0;">Diff me</button>
            </div>
            <div class="form-group">
                <textarea name="udiff" class="form-control" rows="20" style="resize: none;"></textarea>
            </div>
        </form>
    </div>
</div>
{% endblock %}
