<footer class="flex space-x-4 items-center justify-between px-4 py-3 bg-slate-300 border-t border-gray-700">
  <p class="text-sm">Created by <a  class="text-underline font-semibold"href="https://paulobu.com" target="_blank">Paulo Bu</a></p>

  <div class="flex flex-col space-y-3">
    <iframe title="Diffy github stars count"
      src="https://ghbtns.com/github-btn.html?user=pbu88&repo=diffy&type=star&count=true&&v=2" frameborder="0"
      scrolling="0" width="120px" height="20px">
    </iframe>
    <iframe title="Diffy github fork count"
      src="https://ghbtns.com/github-btn.html?user=pbu88&repo=diffy&type=fork&count=true&&v=2" frameborder="0"
      scrolling="0" width="120px" height="20px">
    </iframe>
  </div>
</footer>