<ul class="tree">
    <li>
        <div *ngIf="isOpen else closed">
            <a href="javascript:void(0);" (click)="toggleFolder()" class="directory directory-visible">
                <i class="fa fa-folder-open-o"></i><span class="dir-name">{{fileTree.path}}</span>
            </a>

            <!-- Recurse into directories -->
            <app-diff-file-tree *ngFor="let subtree of fileTree.dirs"
                [fileTree]="subtree"
                [isOpen]="true"
                [fileSelectorFn]="fileSelectorFn"
                [selectedFile]="selectedFile"
            >
            </app-diff-file-tree>

            <!-- Files -->
            <ul class="files">
                <li *ngFor="let file of fileTree.files">
                    <a href="javascript:void(0);"
                        [ngClass]="{'file': true, 'selected': isFileSelected(file)}"
                        (click)="fileSelectorFn(getFileHash(file))"
                    >
                        <i class="fa fa-file-code-o"></i><span class="file-name">{{file.path}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>


<ng-template #closed>
    <a href="javascript:void(0);" (click)="toggleFolder()" class="directory directory-visible">
        <i class="fa fa-folder-o"></i><span class="dir-name">{{fileTree.path}}</span>
    </a>
</ng-template>